In [2]:
import pandas as pd
import numpy as np

In [3]:
movies = pd.read_csv("..\data\src\movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [18]:
movies_genres = movies['genres']

set_all_genres = set()

for movie_genres in movies_genres:
    set_all_genres.update(movie_genres.split("|")) 

set_all_genres.remove("(no genres listed)")

In [31]:
genrelist = list(set_all_genres)
genrelist.sort()
unique_genres = pd.DataFrame(genrelist)

#Start Index from 1
unique_genres.index = np.arange(1, len(unique_genres)+1)
print(unique_genres)

              0
1        Action
2     Adventure
3     Animation
4      Children
5        Comedy
6         Crime
7   Documentary
8         Drama
9       Fantasy
10    Film-Noir
11       Horror
12         IMAX
13      Musical
14      Mystery
15      Romance
16       Sci-Fi
17     Thriller
18          War
19      Western

In [33]:
unique_genres.to_csv("..\data\genres.csv",index=True,header=False)